# Simple Linear Regression

In [1]:
import pandas as pd

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

%matplotlib inline

In [2]:
#%cd C:\Users\Peter\Documents\Machine Learning Projects\Statistical Learning Projects\Simple Linear Regression
%cd C:\Users\a198199\Documents\ML PROJECTS\Statistical Learning Projects\Linear Regression
%ls

C:\Users\a198199\Documents\ML PROJECTS\Statistical Learning Projects\Linear Regression
 Volume in drive C is Windows
 Volume Serial Number is 1A05-7F5D

 Directory of C:\Users\a198199\Documents\ML PROJECTS\Statistical Learning Projects\Linear Regression

2019/01/11  01:34 AM    <DIR>          .
2019/01/11  01:34 AM    <DIR>          ..
2019/01/09  09:42 PM    <DIR>          .ipynb_checkpoints
2019/01/09  06:29 PM            25ÿ760 Domestic Debt by Instrument (Ksh Million).xlsx
2019/01/11  01:34 AM             3ÿ008 Linear Regression.ipynb
               2 File(s)         28ÿ768 bytes
               3 Dir(s)  177ÿ496ÿ625ÿ152 bytes free

In [3]:
debt = pd.read_excel('Domestic Debt by Instrument (Ksh Million).xlsx')
debt.head()

,Year,Month,Treasury Bills,Treasury Bonds,Government Stocks,Overdraft at Central Bank,Advances from Commercial Banks,Other Domestic Debt,Total Domestic Debt
0,2018,September,967365.65,1528770.87,0.0,36290.51,7717.87,688.84,2540833.74
1,2018,August,945763.05,1524465.67,0.0,15055.18,7717.87,705.02,2493706.78
2,2018,July,969503.90,1509003.52,0.0,26340.05,7503.83,695.20,2513046.50
3,2018,June,901906.65,1511872.67,0.0,56849.24,7503.83,702.71,2478835.09
4,2018,May,862010.20,1533060.12,0.0,44353.23,7494.16,701.20,2447618.88

## Simple Linear Regression

In [4]:
X = debt[['Treasury Bills']]
y = debt['Total Domestic Debt']

print(X.shape)
print(y.shape)

(223, 1)
(223,)

In [5]:

X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(167, 1)
(167,)
(56, 1)
(56,)

In [6]:
linreg = LinearRegression()

linreg.fit(X_train,y_train)

print ('Coefficients: ', linreg.coef_)
print ('Intercept: ',linreg.intercept_)

Coefficients:  [2.92043102]
Intercept:  77406.73101881566

In [7]:
y_pred = linreg.predict(X_test)

In [8]:
print('The R2 Score is {}'.format(r2_score(y_test,y_pred)))

The R2 Score is 0.8994954645541495